.Logo {
    max-width: 50%;
    width: auto;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .Logo {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .Title {
        font-size: 1.55rem;
    }
}