.HeaderTitle {
    font-family: "Arial Rounded MT Bold";
    font-size: 1.5rem;
    color: #121212;
}

.Footer {
    padding-bottom: 3rem;
}

.Banner {
    height: 20vw;
    background-color: #121212;
}

.MainImage {
    max-width: 50%;
    width: auto;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .MainImage {
        max-width: 100%;
    }
    .Banner {
        height: 50vw;
    }
}

@media only screen and (max-width: 1023px) {
    .NavItem {
        width: 100vw;
    }
    .navbar-brand {
        padding: 0 !important;
    }
}

@media only screen and (min-width: 2560px) {
    .MainImage {
        max-width: 100%;
    }
}