.Logo {
    max-width: 50%;
    width: auto;
    height: auto;
}

.Footer {
    padding-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
    .Logo {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .Title {
        font-size: 1.55rem;
    }
    .navbar-brand {
        padding: 0 !important;
    }
}

@media only screen and (min-width: 2560px) {
    .Logo {
        max-width: 100%;
    }
    .Title {
        font-size: 6rem;
    }
}